<h1><%= fish_name %></h1>
<h2><i><%= fish_scie %></i></h2>
<h2><%= fish_salt %></h2>
<p><%= fish_disc %></p>
<img src=<%= fish_imag %>>
<br>
<a href=<%= fish_wiki %>><%= fish_name %> Wiki</a>
<br>
<a href="/">Homepage</a>